body {
  background: var(--color-bg)
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  max-width: 1068px;
  height: auto;
  min-height: 747px;
  padding: 15px; 
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 9;
  gap: 15px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex: 5;
}
.core {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 6;
}
.additional {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex: 1;
}
.hero,
.technology,
.projects,
.arch,
.contact,
.blog {
  background-color: var(--color-card);
  border-radius: 10px;
}

.blog {
  flex: 5;
}
.hero {
  flex: 1;
}
.technology {
  flex: 1;
}
.projects{
  flex: 10;
}
.arch {
  flex: 1;
}
.contact {
  flex: 1;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    min-height: 0;/* Let it grow naturally */
    width: 100%; /* Optional: better for responsiveness */
    padding: 15px;
  }

  .blog {
/*    flex: none; /* Optional, if it acts weird */
/*    width: 100%;  Optional */
  }

  .main {
    flex: none;
    width: 100%;
  }
}

