@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Major+Mono+Display&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-color: #FF3366;
    --secondary-color: #D7FCD4;
    --background-color: #31393C;
    --border-color: #7D98A1;
}

body {
    background-color: var(--background-color);
}

main { 
    height: 100vh;
}

main, .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 720px;
    height: 520px;
    border-radius: 20px;
    border: 4px solid var(--border-color);
}
.belt {
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 184px 184px;
    gap: 16px;

}

@media (max-width: 750px) {
    .belt {
        width: 90vw;
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        gap: 2px;
    }
    .container {
        width: 90vw;
        height: 90vh;
    }
    .card {
        margin: 12px;
        grid-column: span 2;
    }
}

.card {
    border-radius: 16px;
    border: 4px solid var(--border-color);
}

.name {
    grid-column: span 2;
}

.blog  {
    grid-column: span 2;
}

.name > h2 {
    font-family: "Space Grotesk", sans-serif;
    color: var(--secondary-color);
    font-size: 26pt;
    font-weight: bold;
    position: relative;
    top: 10px;
    display: inline;
}
.name > p {
    display: inline;
    font-family: "Space Grotesk";
    font-weight: lighter;
    color: var(--border-color);
}

.memoji {
    width: 100px;
    float: left;
}

.location-ico {
    width: 15px;
    height: 15px;
    vertical-align: -3px;
    fill: var(--primary-color);
    margin-top: 15px;
}
