@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Major+Mono+Display&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #051923;
}

main { 
    height: 100vh;
}

main, .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 720px;
    height: 520px;
    border-radius: 20px;
    border: 2px solid #00A6FB;
}
.belt {
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 184px 184px;
    gap: 16px;

}

@media (max-width: 750px) {
    .belt {
        width: 90vw;
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        gap: 2px;
    }
    .container {
        width: 90vw;
        height: 90vh;
    }
    .card {
        margin: 12px;
        grid-column: span 2;
    }
}

.card {
    border-radius: 16px;
    border: 2px solid #00A6FB;
}

.name {
    grid-column: span 2;
}

.blog  {
    grid-column: span 2;
}

.name > h2 {
    font-family: "Major Mono Display", sans-serif;
    color: #F15946;
    font-size: 26pt;
    margin: 10px;
}

